/* You can add global styles to this file, and also import other style files */

@import "./assets/styles/bootstrap.simplex.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/alertifyjs//build/css/alertify.min.css";
@import "../node_modules/alertifyjs//build/css/themes/bootstrap.min.css";

body {
  padding-top: 40px;
  padding-left: 10px;
}
.btnPointer {
  cursor: pointer;
}
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
